Source: ros-indigo-roslisp-common
Section: misc
Priority: extra
Maintainer: Lorenz Moesenlechner <moesenle@cs.tum.edu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://ros.org/wiki/roslisp_common
Standards-Version: 3.9.2

Package: ros-indigo-roslisp-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib-lisp, ros-indigo-cl-tf, ros-indigo-cl-transforms, ros-indigo-cl-utils, ros-indigo-roslisp-utilities
Description: Common libraries to control ROS based robots. This stack contains an implementation of actionlib (client and server) in Common Lisp, a transformation library and an implementation of tf in Common Lisp.
