Source: ros-indigo-cl-transforms
Section: misc
Priority: extra
Maintainer: Lorenz Moesenlechner <moesenle@cs.tum.edu>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-cl-utils, sbcl
Homepage: http://ros.org/wiki/cl_transforms
Standards-Version: 3.9.2

Package: ros-indigo-cl-transforms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-cl-utils, sbcl
Description: Homogeneous transform library for Common Lisp.
